<component name="ArtifactManager">
  <artifact type="war" name="springcloudzuul:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springcloudzuul.war">
      <element id="artifact" artifact-name="springcloudzuul:war exploded" />
    </root>
  </artifact>
</component>